<h2><%= @snack.name %></h2>

<div>Deliciousness: <%= @snack.deliciousness %></div>
<div>Calories: <%= @snack.calories %></div>

<!-- <a href="/snacks">Back to Index Page</a> -->

<%= link_to "Index Page", snacks_path %>