<h1>Create a new author</h1>

<form action="/authors" method="POST">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">

    <h2>Books by this author</h2>

    <input type="text" name="book[][title]" placeholder="Book title">
    <input type="text" name="book[][snippet]" placeholder="Book snippet">

    <input type="text" name="book[][title]" placeholder="Book title">
    <input type="text" name="book[][snippet]" placeholder="Book snippet">

    <input type="text" name="book[][title]" placeholder="Book title">
    <input type="text" name="book[][snippet]" placeholder="Book snippet">

    <input type="submit" value="Create an author">


</form>