<h1>Author Page</h1>

<div><%= @author.full_name %></div>

<h2>Books:</h2>

<ul>
    <% @author.books.each do |book| %>
        <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
    <% end %>
</ul>