<h1>Retailer Page</h1>

<h2><%= @retailer.name %></h2>

<h3>Established in <%= @retailer.year_established %></h3>

<% if !@retailer.snacks.empty? %>
    <h4>Snacks by this company</h4>
    <ul>
        <% @retailer.snacks.each do |snack| %>
            <li><%= link_to snack.name, snack_path(snack) %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Index Page", retailers_path %>