<div class="container">
  <form method="POST" action="/seas">
    <p>Name: <input class="form-control" type="text" name="name"></p>
    <p>Bio: <input class="form-control" type="text" name="bio"></p>
    <p>Image URL: <input class="form-control" type="text" name="image_url"></p>
    <p>Temperature: <input class="form-control" type="text" name="temperature"></p>
    <p>Favorite Color: <input class="form-control" type="text" name="favorite_color"></p>
    <p>Scariest Creature: <input class="form-control" type="text" name="scariest_creature"></p>
    <p>Mood: <input class="form-control" type="text" name="mood"></p>
    <div class="checkbox">
      <label><input type="checkbox" name="has_mermaids">Has Mermaids</label>
    </div>
    <input class="form-control btn btn-info" type="submit">
  </form>
  <div class="text-center">
    <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/seas">All Seas</a></button>
  </div>
</div>
