<div class="container" style="background: url('https://ak8.picdn.net/shutterstock/videos/15121852/thumb/1.jpg') no-repeat; background-size: 100% 100%">

  <div class="text-center col-md-8 col-md-offset-2"  style="background-color: rgba(255, 255, 255, 0.6)">
    <header class="text-center"><img src="http://navylog.navymemorial.org/sites/default/files/navy-log-images/MCPON%20Black_Black%20and%20White.jpg" class="img-fluid main-image" style="height:30vh"></header>
    <h2>Welcome to the Seven Seas</h2>

    <div class="content")>
      <p>Seven seas...<br>
      Seven restful routes...<br>
      Seven days of studying web frameworks...<br>
      And now it's time to review with a Sinatra to Rails challenge!</p>
    </div>
    <a href="/seas" style="font-size: 250%"><i>SET SAIL ON YE MAIDEN VOYAGE</i></a>
    <div>
      <img src="https://i.pinimg.com/236x/90/56/5e/90565efbb9fe56a0bb3e11ca97f1e528--movie-photo-dean-martin.jpg" class="img-fluid main-image" style="height:30vh">
    </div>



  </div>
</div>
